<li class="blogentry">
   <div class="blogentryheader">
      <h2><a href="<perch:blog id="postURL" />" rel="bookmark" class="blogentrytitle media-heading"><perch:blog id="postTitle" /></a></h2>

      <div class="blogentrydatewrap">
         <p class="blogentrydate"><perch:blog id="postDateTime" format="l, F jS Y" /></p>
      </div>
   </div>

   <div class="blogentrybracket">
   </div>

   <a href="<perch:blog id="postURL" />">
      <div class="blogentrycontent show-read-more">
         <perch:if exists="image"><img src="<perch:blog id="image" type="image" crop="true" />" class="blogimg img-responsive" alt="<perch:blog id="postTitle" />" /></perch:if>
         <div class="blogentrytext">
            <perch:blog id="excerpt" type="textarea" label="Excerpt" order="3" editor="markitup" markdown="true" size="xxl autowidth" required="true" /> <span class="readmore">Read More <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span></span>
         </div>
      </div>
   </a>


</li>
