<div class="ownersblock">
   <div class="ownersleft container hidden-xs loadfloat">
      <div class="row vertflex">
         <img class="col-xs-6" src="<perch:content id="ownersImage1" type="image" label="Image 1"/>" alt="Microbrewery Owner"/>
         <img class="col-xs-6" src="<perch:content id="ownersImage2" type="image" label="Image 2"/>" alt="Microbrewery Owner"/>
      </div>
      <div class="row vertflex">
         <img class="col-xs-12" src="<perch:content id="ownersImage3" type="image" label="Image 3"/>" alt="Microbrewery Owners"/>
      </div>
      <div class="row vertflex">
         <img class="col-xs-12 hidden-xs" src="<perch:content id="ownersImage4" type="image" label="Image 4"/>" alt="Microbrewery brewer"/>
      </div>
   </div>
   <div class="ownersright">
      <h1>Our Family</h1>
      <div>
         <div class="vertflex">
         <p>
            <h3><perch:content id="curtisQHeader" type="text" label="Curtis/Q Header"/></h3>
            <perch:content id="curtisQParagraph1" type="textarea" label="Paragraph 1" editor="redactor" html="true"/>

            <blockquote><perch:content id="curtisQQuote" type="textarea" label="Quote" editor="redactor" html="true"/></blockquote>
            <perch:content id="curtisQParagraph2" type="textarea" label="Paragraph 2" editor="redactor" html="true"/>

         </p>
         </div>
         <div class="vertflex">
         <p>
            <h3><perch:content id="aydanHeader" type="text" label="Aydan Header"/></h3>
            <perch:content id="aydanParagraph1" type="textarea" label="Paragraph 1" editor="redactor" html="true"/>

            <blockquote><perch:content id="aydanQuote" type="textarea" label="Quote" editor="redactor" html="true"/></blockquote>
         </p>
         </div>
         <div class="vertflex hidden-sm hidden-md hidden-lg hidden-xl">
            <img class="col-xs-12 hidden-sm hidden-md hidden-lg hidden-xl" src="<perch:content id="ownersImage3" type="image" label="Image 3"/>"/>
         </div>
      </div>
   </div>
</div>
