<div class="salesemployee">
   <div class="salesimg">
      <img class="img-responsive" src="<perch:content id="salesImage" type="image" label="Image"/>"/>
   </div>
   <div class="salesinfo">
      <h3><perch:content id="salesName" type="text" label="Name"/></h3>
      <h4><perch:content id="salesTitle" type="text" label="Job Title"/></h4>
      <div>Favorite Beer: <perch:content id="salesFavBeer" type="text" label="Favorite Beer"/></div>
      <div><a href="mailto:<perch:content id="salesEmail" type="text" label="Email"/>">Email: <perch:content id="salesEmail" type="text" label="Email"/></a></div>
   </div>
</div>
