<div class="questionsblock">
   <div class="questiondiv">
      <a class="question" data-toggle="collapse" href="#<perch:content id="perch_item_index" type="hidden" />" aria-expanded="false" aria-controls="<perch:content id="perch_item_index" type="hidden" />">
         <span class="glyphicon glyphicon-triangle-bottom" aria-hidden="true"></span> <perch:content id="faqsquestion" type="textarea" label="Question"/>
      </a>
   </div>
   <div class="collapse collapseanswer" id="<perch:content id="perch_item_index" type="hidden" />">
      <p class="answer"><perch:content id="faqsanswer" type="textarea" label="Answer"/></p>
   </div>
</div>
