<div class="row row-content panelpadding">
   <div class="media">
      <div class="media-left media-middle">
         <img class="media-object beericons" src="<perch:content id="beericon" type="image" label="Icon"/>" alt="Pint Glass">
      </div>
      <div class="media-body">
         <h2 class="media-heading"><perch:content id="beertitle" type="text" label="Title"/><span class="badge pull-right"><perch:content id="beerabv" type="text" label="ABV"/> ABV // <perch:content id="beeribu" type="text" label="IBU"/> IBU</span></h2>
         <p><perch:content id="beerdescription" type="textarea" label="Description" chars="400" help="400 Character Limit"/></p>
      </div>
   </div>
</div>
