<div class="taproomblock">
   <div class="taproomtop">
      <div class="taproomleft">
         <h1>The Taproom</h1>
         <div>
            <div class="vertflex">
               <perch:content id="festivalInfoParagraph1" type="textarea" Label="Paragraph 1" editor="redactor" html="true"/>
            </div>
            <div class="vertflex">
               <perch:content id="festivalInfoParagraph2" type="textarea" Label="Paragraph 2" editor="redactor" html="true"/>
            </div>


                  <a href="calendar.php#privateeventform"><span class="pull-right panellink">Reserve &nbsp;The &nbsp;Taproom<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span></span></a>


         </div>
      </div>
      <div class="taproomright loadfloat">
         <img src="<perch:content id="taproomImage1" type="image" label="Image 1" />" class="img-responsive" alt="South Loop Taproom"/>
         <img src="<perch:content id="taproomImage2" type="image" label="Image 2" />" class="img-responsive" alt="South Loop Taproom"/>
      </div>
   </div>
   <div class="taproombottom loadfloat">
      <img src="<perch:content id="taproomImage3" type="image" label="Image 3" />" class="img-responsive" alt="South Loop Taproom"/>
      <img src="<perch:content id="taproomImage4" type="image" label="Image 4" />" class="img-responsive" alt="South Loop Taproom"/>
   </div>
</div>
