<div class="taproomblock">
   <div class="taproomtop">
      <div class="taproomleft">
         <h1>The Name</h1>
         <div>
            <div class="vertflex">
               <perch:content id="nameParagraph1" type="textarea" Label="Paragraph 1" editor="redactor" html="true"/>
            </div>
            <div class="vertflex">
               <perch:content id="nameParagraph2" type="textarea" Label="Paragraph 2" editor="redactor" html="true"/>
            </div>
         </div>
      </div>
      <div class="taproomright">
         <img src="<perch:content id="nameImage" type="image" label="Image" />" class="img-responsive" alt="Craft Beer Growler"/>
      </div>
   </div>
</div>
