<div class="taproomblock">
   <div class="taproomtop">
      <div class="taproomleft">
         <h1>The Mission</h1>
         <div>
            <div class="vertflex"><perch:content id="missionParagraph" type="textarea" Label="Paragraph" editor="redactor" html="true"/></div>

            <blockquote class="vertflex"><perch:content id="missionQuote1" type="text" label="Quote 1" /></blockquote>

            <blockquote class="vertflex"><perch:content id="missionQuote2" type="text" label="Quote 2" /></blockquote>

            <blockquote class="vertflex"><perch:content id="missionQuote3" type="text" label="Quote 3" /></blockquote>
         </div>
      </div>
      <div class="taproomright">
         <img src="<perch:content id="missionImage1" type="image" label="Image 1" />" class="img-responsive" alt="Bartender"/>
         <img src="<perch:content id="missionImage2" type="image" label="Image 2" />" class="img-responsive" alt="South Loop Taproom"/>
      </div>
   </div>
</div>
