<perch:form id="subscribe" app="perch_mailchimp" double-optin="false">

   <perch:success>
      <p>Thank you!</p>
   </perch:success>

   <div class="row signupform">
      <div class="signupinputs">
         <div class="signupinput">
      		<perch:input id="firstname" required="true" type="text" placeholder="Name" mailer="FNAME" />
      		<perch:error type="required" for="firstname"></perch:error>
         </div>
         <div class="signupinput">
      		<perch:input id="email" required="true" type="email" placeholder="Email" mailer="email" />
      		<perch:error type="required" for="email"></perch:error>
         </div>
         <div class="signupsubmit">
            <perch:input type="submit" value="Join" id="btnsubmit"/>
      		<perch:input type="hidden" value="1" id="confirm" mailer="confirm_subscribe" />
      		<perch:input type="hidden" id="list" value="1efab78fb3" mailer="list" />
         </div>
      </div>
   </div>
</perch:form>
