<?xml version="1.0" encoding="utf-8" ?>
<configuration>
   <system.webServer>

      <httpCompression directory="%SystemDrive%\inetpub\temp\IIS Temporary Compressed Files">
         <scheme name="gzip" dll="%Windir%\system32\inetsrv\gzip.dll" staticCompressionLevel="9" />
         <dynamicTypes>
           <add mimeType="text/*" enabled="true" />
           <add mimeType="message/*" enabled="true" />
           <add mimeType="application/x-javascript" enabled="true" />
           <add mimeType="application/json" enabled="true" />
           <add mimeType="*/*" enabled="false" />
         </dynamicTypes>
         <staticTypes>
           <add mimeType="text/*" enabled="true" />
           <add mimeType="message/*" enabled="true" />
           <add mimeType="application/x-javascript" enabled="true" />
           <add mimeType="application/atom+xml" enabled="true" />
           <add mimeType="application/xaml+xml" enabled="true" />
           <add mimeType="*/*" enabled="false" />
         </staticTypes>
      </httpCompression>

      <urlCompression doStaticCompression="true" doDynamicCompression="true" />

      <rewrite>
         <rules>
            <rule name="RemovePHP" enabled="true" stopProcessing="true">
               <match url="(.*)\.php" />
               <action type="Redirect" url="{R:1}" />
            </rule>
            <rule name="AddPHP" enabled="true">
               <match url=".*" negate="false" />
               <conditions>
                  <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                  <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                  <add input="{URL}" pattern="(.*)\.(.*)" negate="true" />
               </conditions>
               <action type="Rewrite" url="{R:0}.php" />
            </rule>
         </rules>
      </rewrite>

      <staticContent>
          <mimeMap fileExtension=".svg" mimeType="image/svg+xml" />
      </staticContent>

      <staticContent>
           <mimeMap fileExtension=".eot" mimeType="application/vnd.ms-fontobject" />
           <mimeMap fileExtension=".ttf" mimeType="application/octet-stream" />
           <mimeMap fileExtension=".svg" mimeType="image/svg+xml" />
           <mimeMap fileExtension=".woff" mimeType="application/font-woff" />
           <mimeMap fileExtension=".woff2" mimeType="application/font-woff2" />
           <mimeMap fileExtension=".otf" mimeType="application/x-font-opentype" />
      </staticContent>

      <customErrors defaultRedirect="index.php" mode="On">
         <error statusCode="404" redirect="index.php"/>
      </customErrors>

   </system.webServer>
</configuration>
